body {
    background-color: #e5ffe2;
    text-align: center;
  }

/*  
  h1 {
    color: rgb(0, 0, 0);
    border-color: black;
    text-align: center; }

    div ¨{border-color: black;}

    h2 { position: absolute;
        left: 900px;
        top: 1950px;
    }
#cartagena{ align-self: center; 
    /*position: absolute;
        left: 900px;
        top: 500px; */}

#cancun{ align-self: center;
    /*position: absolute;
        left: 900px;
        */}

#Medellin¨{ align-self: center;
    /*position: absolute;
        left: 900px;
        top: 500px; */}

*/